@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: pnu;
  src: url(./assets/fonts/PNU-Regular.ttf);
}

@font-face {
  font-family: pnu-black;
  src: url(./assets/fonts/PNU-Bold.ttf);
}

@font-face {
  font-family: pnu-light;
  src: url(./assets/fonts/PNU-Light.ttf);
}

@font-face {
  font-family: pnu-medium;
  src: url(./assets/fonts/PNU-Medium.ttf);
}


body {
  font-family: pnu;
}

